<div>
  <%= turbo_frame_tag('table-frame') do %>
    <div class="board my-0 mx-auto">
      <% Cell.all.order(order: :asc).each do |c| %>
        <div id="<%= c.id %>" class="cell <% if c.robot %><%= "t2-#{c.robot.direction}" %><% end %>"></div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="ml-2.5">
  <textarea class="w-full" id="command" cols="20" rows="20"></textarea>
  <%= turbo_frame_tag('report-frame') %>
  <button id="run" class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" type="button" data-action="click->table#run">RUN</button>
</div>
<script>
  
</script>
