<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
      <div class="board my-0 mx-auto">
        <div id="cell_0" class="cell"></div>
        <div id="cell_1" class="cell"></div>
        <div id="cell_2" class="cell"></div>
        <div id="cell_3" class="cell"></div>
        <div id="cell_4" class="cell"></div>
        <div id="cell_5" class="cell"></div>
        <div id="cell_6" class="cell"></div>
        <div id="cell_7" class="cell"></div>
        <div id="cell_8" class="cell"></div>
        <div id="cell_9" class="cell"></div>
        <div id="cell_10" class="cell"></div>
        <div id="cell_11" class="cell"></div>
        <div id="cell_12" class="cell"></div>
        <div id="cell_13" class="cell"></div>
        <div id="cell_14" class="cell"></div>
        <div id="cell_15" class="cell"></div>
        <div id="cell_16" class="cell"></div>
        <div id="cell_17" class="cell"></div>
        <div id="cell_18" class="cell"></div>
        <div id="cell_19" class="cell"></div>
        <div id="cell_20" class="cell"></div>
        <div id="cell_21" class="cell"></div>
        <div id="cell_22" class="cell"></div>
        <div id="cell_23" class="cell"></div>
        <div id="cell_24" class="cell"></div>
      </div>
		</div>
		<script>
			
		</script>
	</body>
</html>
