<!DOCTYPE html>
<html>
	<head>
	</head>
	<body data-controller="table">
		<div>
      <%= turbo_frame_tag('table-frame') do %>
        <div class="board my-0 mx-auto">
          <% Cell.all.order(order: :asc).each do |c| %>
            <div id="<%= c.id %>" class="cell <% if c.robot %><%= "t2-#{c.robot.direction}" %><% end %>"></div>
          <% end %>
        </div>
      <% end %>
		</div>
    <textarea id="command" cols="40" rows="5"></textarea>
    <button type="button" data-action="click->table#run">RUN</button>
		<script>
			
		</script>
	</body>
</html>
