@tailwind base;
@tailwind components;
@tailwind utilities;

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  width: 600px;
  height: 600px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
}

.t2::after {
  content: url("../../../t2.png")
}

.t2-east::after {
  content: url("../../../t2-east.png")
}

.t2-south::after {
  content: url("../../../t2-south.png")
}

.t2-west::after {
  content: url("../../../t2-west.png")
}

.t2-north::after {
  content: url("../../../t2-north.png")
}

.cross::after {
  content: "X";
}

.hidden {
  display: none;
}

#status,
#channel-code {
  color: #fff;
}
